[submodule "Externals/Restup"]
	path = Externals/Restup
	url = https://github.com/tomkuijsten/restup.git
 	ignore = dirty
[submodule "Externals/SystemOutWeatherApi"]
	path = Externals/SystemOutWeatherApi
	url = https://github.com/nicklasjepsen/SystemOutWeatherApi.git
	ignore = dirty
[submodule "Externals/SystemOutToolbox"]
	path = Externals/SystemOutToolbox
	url = https://github.com/nicklasjepsen/SystemOutToolbox.git
	ignore = dirty